.contentBox {
  border-bottom: 1px;
  border-color: "divider";
}

.contentBox :global .MuiTabs-list,
.contentBox :global .MuiTabs-indicator {
  display: flex;
  justify-content: space-around;
}
.contentBox :global .MuiButtonBase-root {
  color: var(--primary-text);
}
.contentBox :global .MuiButtonBase-root:hover {
  color: var(--secondary-text);
}

.tabPanel {
  background-color: inherit;
  padding: 0px;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  overflow: auto;
  max-height: 300px;
  padding: 16px;
}

/* Webkit scrollbar styles */
.project-grid::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.project-grid::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.project-grid::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.project-grid::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}
