.itemWrapper {
  cursor: pointer;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.list {
  width: 100%;
}
.list :global .MuiListItem-root {
  justify-content: space-between;
}
