.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-color);
}

.login-card {
  background: var(--secondary-color);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-title {
  text-align: center;
  color: #007bff;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.login-error {
  color: red;
  text-align: center;
}

.login-input-group {
  margin-bottom: 1rem;
}

.login-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  background-color: #007bff;
  color: var(--primary-text);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-footer {
  text-align: center;
  margin-top: 1rem;
  color: var(--primary-text);
}

.login-signup-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.login-signup-link:hover {
  text-decoration: underline;
}
